<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <title>My test page</title>
  </head>
  <body>
    <img src="images/ruby.png" alt="My R&R course test image" width="300" class="center">
    <h1>The Complete Ruby on Rails Developer Course</h1>
    <h2>HTML basics: https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics
      HTML basics: <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics"></a>
    <h2>
      CSS basics: https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics
    </h2>

    <h2>
      HTML tables: https://developer.mozilla.org/en-US/docs/Learn/HTML/Tables
    </h2>
    <h2>
      HTML forms: https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form
    </h2>
    <h2>
      Alternate resource to learn HTML and CSS together while building a website: https://learn.shayhowe.com/html-css/
    </h2>
  </body>
</html>
